* {
  box-sizing: border-box;
}
main {
  background-color: #fff3b0;
  padding: 4.5rem;
  display: grid;
  grid-template-rows: 15rem 1fr;
  grid-template-columns: 1fr 1fr;
}
article {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

p {
  padding: 10px;
  line-height: normal;
}

article ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

section {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e09f3e;
  border-radius: 10px;
  margin-left: 10px;
  width: fit-content;
}

#yourPantry {
  height: 220px;
  width: 220px;
  padding: 25px;
  overflow-y: scroll;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  background-color: #e09f3e;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #e09f3e;
  border-radius: 10px;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

div:first-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

div:last-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

form {
  padding: 1rem;
}

legend {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

label {
  padding: 10px;
}

#ingredientName,
#removedIngredient,
#recipeIngredients {
  background-color: #fff3b0;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  padding: 2px;
}
#formButton,
#removeButton,
#recipeButton {
  border-radius: 10px;
  background-color: #335c67;
  color: white;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

#formButton:hover,
#removeButton:hover,
#recipeButton:hover {
  background-color: #fff3b0;
  color: #335c67;
}
