main {
  background-color: #fff3b0;
}

main.h1 {
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

article {
  margin-left: 175px;
}

h4 {
  font-weight: bold;
}

p {
  font-weight: 100;
}

#recipeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-left: 175px;
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: #fff3b0;
}

.recipe-card {
  perspective: 500px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.recipe-card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.recipe-card-inner {
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  transition: transform 0.75s;
  border-radius: 10px;
}

.recipe-card-front,
.recipe-card-back {
  width: 250px;
  height: 250px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
}

.recipe-card-front {
  transform: rotateY(0deg);
  text-align: center;
}

.recipe-card-front h3 {
  font-size: 0.8rem;
}

.recipe-card-back {
  transform: rotateY(180deg);
  color: white;
  background-color: #e09f3e; /* colors to be changed to match pallete we choose */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card-back ul {
  list-style: none;
  padding: 0;
}

.recipe-card-back li {
  margin: 5px;
  font-family: "Caveat", cursive;
  font-size: 1.1rem;
}

.recipe-card-back p {
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 5px;
}

.recipe-card:hover .recipe-card-inner {
  transform: rotateY(180deg);
}
