section,
form,
article {
	border: 1px black solid;
	border-radius: 20px;
}

body * {
	padding: 1rem;
	margin: 1rem;
}

header {
	display: flex;
	justify-content: space-evenly;
}

legend {
	margin: 10px;
	font-weight: bold;
}

#formButton {
	cursor: pointer;
}

h2 {
	font-weight: bold;
}

article {
	padding: 3rem;
}

/* section {
}

#ingredientsForm {
} */

li {
	list-style-type: circle;
}

main {
	display: grid;
	grid-template-rows: 300px 1fr;
	grid-template-columns: 1fr 1fr;
}

article {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

form {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

legend {
	border: 2rem;
}
