/* dark slate gray #335C67
vanilla #FFF3B0
HUNYADI YELLOW #E09F3E
AUBURN #9E2A2B
CHOCOLATE COSMOS #540B0B */

/* handwriting --> Caveat medium
general page --> Quicksand medium*/

section,
form,
article {
  border: 1px black solid;
  border-radius: 20px;
}

body {
  margin: 2rem;
}

header {
  background-color: #335c67;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  background-color: #fff3b0;
}
h1 {
  font-size: 2rem;
  padding: 2rem;
}
nav {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}
button {
  background-color: #e09f3e;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
}

legend {
  margin: 10px;
  font-weight: bold;
}

#formButton {
  cursor: pointer;
}

h2 {
  font-weight: bold;
}

footer {
  background-color: #335c67;

  display: flex;
  width: 100%;
  padding: 2rem;
  justify-content: center;
  font-size: 1rem;
}

article {
  padding: 3rem;
}

/* section {
}

#ingredientsForm {
} */

li {
  list-style-type: circle;
}

main {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

article {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

div:first-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
div:last-child {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

legend {
  border: 2rem;
}
